@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'gg Sans';
    src: url("./assets/fonts/gg-sans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'gg Sans';
    src: url("./assets/fonts/gg-sans-Bold.ttf");
    font-weight: 900;
}
@font-face {
    font-family: 'gg Sans';
    src: url("./assets/fonts/gg-sans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'gg Sans';
    src: url("./assets/fonts/gg-sans-Semibold.ttf");
    font-weight: 700;
}

.tooltip-right::before{
    /* @apply left-auto; */
    /* @apply right-auto;
    @apply fixed; */
}